<div class="container">
    <div class="row">
        <h2>Minhas tarefas</h2>
        <p>
            <a routerLink="/tasks/new" class="btn btn-default">Nova tarefa</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
                    <template [ngIf]="1>2">
                        <tr>
                            <td>Teste</td>
                        </tr>
                    </template>
                    <!--<tr template="ngIf:1>2">
                        <td>Teste</td>
                    </tr>-->
                <!--<template ngFor let-task [ngForOf]="tasks">
                    <tr>-->
                   <tr *ngFor="let task of tasks">
                        <td>{{task.id}}</td>
                        <td>{{task.name}}</td>
                        <td>
                            <!--<a class="btn btn-default" [routerLink]="['/tasks', task.id, 'edit']">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>-->
                            <button type="button" class="btn btn-default" (click)="goToEdit(task.id)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                <!--</template>-->
            </tbody>
        </table>
    </div>
</div>